/* h1 {color:red} */

#banner {
    width:1200px;
    background-color: royalblue;
    color: white;
    height: 200px;
    clear: both;
}
#nav {
    width: 200px;
    background-color: beige;
    height: 500px;
     float: left;
}
#content {
    width: 800px;
    background-color: white;
    float: left;
}
#supporting {
    width: 200px;
    background-color: aliceblue;
    height: 500px;
    float: left;
}
footer {
    width: 1200px;
    background-color: grey;
    color: white;
    clear: both;
}